body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1, h2 {color:orange}
.evenrow {background-color: mediumorchid;}

h1 {font-size: 4em;}
h2 {font-size: .5em;}